.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: left;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 10%;
  }
  .col-3 {
    flex-basis: 10%;
  }
  .col-4 {
    flex-basis: 10%;
  }
  .col-5 {
    flex-basis: 10%;
  }
  .col-6 {
    flex-basis: 10%;
  }
  .col-7 {
    flex-basis: 10%;
  }
  .col-8 {
    flex-basis: 10%;
  }

  .table-header {
    display: none;
  }
  li {
    display: block;
  }
  .col {
    flex-basis: 100%;
  }
  .col {
    display: flex;
    padding: 7px 0;
    justify-content: space-between;
    &:before {
      color: #6c7a89;
      // padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: left;
    }
  }
  .list-item-footer {
    display: inline-flex;
    .col {
      display: flex;
      padding: 7px 0;
      justify-content: space-between;
    }
  }
}
